
@{
	ViewBag.Title = "Упс! произошла ошибка.";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header my-4">
	<h1 class="h3 text-center text-danger">@ViewBag.Title</h1>
</div>

<p class="text-muted"><b>Ошибка 404.</b> Страница не найдена.</p> 

@Html.ActionLink(
		linkText: "На главную",
		actionName: "Index",
		controllerName: "Contact",
		routeValues: null,
		htmlAttributes: new { @class = "btn btn-outline-primary" })