<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://addressBook:pa55word@localhost/addressBook" />
    <add name ="MsSQL" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\AddressBookDB.mdf';Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="ContactServiceLibrary.MsSQLService.MsSQLContactService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="ContactServiceLibrary.Interfaces.IContactService`2">
        </endpoint>
         
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:38005/MsSQLContactService" />
            <add baseAddress="net.tcp://localhost:38015/MsSQLContactService" />
          </baseAddresses>
        </host>
      </service>
    </services> 
  </system.serviceModel>
</configuration>